JWT_SECRET=your_jwt_secret_here

DB_HOST=localhost
DB_PORT=5432
DB_USER=submarine
DB_PASS=your_db_password_here
DB_NAME=submarine_db

SMS_USER=your_pontaltech_user
SMS_PASSWORD=your_pontaltech_password

APP_URL=https://your-domain-or-ngrok-url.example.com

#EMAIL
MAIL_HOST=your_smtp_host
MAIL_USER=your_smtp_email
MAIL_PORT=465
MAIL_PASSWORD=your_smtp_password
MAIL_TO=recipient@example.com
